{{#if name '===' 'homepage-text-section'}}
    {{> components/custom/homepage-text-section}}
{{/if}}

{{#if name '===' 'homepage-top-banners-section'}}
    {{> components/custom/homepage-top-banners-section}}
{{/if}}

{{#if name '===' 'homepage-categories-section'}}
    {{> components/custom/homepage-categories-section}}
{{/if}}

{{#if name '===' 'homepage-products-section'}}
    {{> components/custom/homepage-products-section}}
{{/if}}

{{#if name '===' 'homepage-horizontal-banners'}}
    {{> components/custom/homepage-horizontal-banners}}
{{/if}}

{{#if name '===' 'homepage-parallax-banner'}}
    {{> components/custom/homepage-parallax-banner}}
{{/if}}

{{#if name '===' 'homepage-recent-blogs'}}
    {{> components/custom/homepage-recent-blogs}}
{{/if}}

{{#if name '===' 'homepage-instagram-section'}}
    {{> components/custom/homepage-instagram-section}}
{{/if}}
