{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{#if product_results.products.length}}
    <div class="actionBar-wrapper">
        <div class="left-part">
            {{> components/products/filter sort=pagination.product_results.sort}}
            
            {{#if theme_settings.show_grid_list_toggle_icons}}
                {{#if theme_settings.product_list_display_mode '===' 'grid'}}
                  <div class="grid-list-view toggle">
                    <a class="grid active toggle-link" href="#" title="Toggle Grid View"><svg class=""><use xlink:href="#icon-grid"></use></svg></a>
                    <a class="list toggle-link" href="#" title="Toggle List View"><svg class=""><use xlink:href="#icon-list"></use></svg></a>
                  </div>
                {{/if}}

                {{#if theme_settings.product_list_display_mode '===' 'list'}}
                  <div class="grid-list-view">
                    <a class="list active toggle-link" href="#" title="Toggle List View"><svg class=""><use xlink:href="#icon-list"></use></svg></a>
                    <a class="grid toggle-link" href="#" title="Toggle Grid View"><svg class=""><use xlink:href="#icon-grid"></use></svg></a>
                  </div>
                {{/if}}
            {{/if}}
        </div>
        <div class="right-part">
            {{> components/common/paginator pagination.product_results}}
        </div>
    </div>
{{/if}}
<div {{#if settings.data_tag_enabled}} data-list-name="Search Results" {{/if}}>

    {{#if theme_settings.show_grid_list_toggle_icons}}
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                <div class="gridView default visible mobile-products-{{theme_settings.products_per_row_mobile}}">
                    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
                </div>
                <div class="listView">
                    {{> components/products/list products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
                </div>
            {{else}}
                <div class="gridView default visible mobile-products-{{theme_settings.products_per_row_mobile}}">
                    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
                </div>
                <div class="listView">
                    {{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
                </div>
            {{/if}}
        {{else if theme_settings.product_list_display_mode '===' 'list'}}
            {{#if settings.data_tag_enabled}}
                <div class="listView default visible">
                    {{> components/products/list products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
                </div>
                <div class="gridView mobile-products-{{theme_settings.products_per_row_mobile}}">
                    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
                </div>
             {{else}}
                <div class="listView default visible">
                    {{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
                </div>
                <div class="gridView mobile-products-{{theme_settings.products_per_row_mobile}}">
                    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
                </div>
            {{/if}}
        {{/if}}
    {{else}}
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
            {{else}}
                {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
             {{else}}
                {{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
    {{/if}}
    
</div>

<div class="pagination-compare-wrapper">
    <div class="left-part">
        <ul class="navUser-section navUser-section--alt">
            <li class="navUser-item">
                <a class="navUser-action navUser-item--compare button button--primary"
                   href="{{urls.compare}}"
                   data-compare-nav
                   aria-label="{{lang 'common.compare'}}"
                >
                    <i class="icon">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-compare"></use></svg> 
                    </i>
                    {{lang 'common.compare'}}
                    <span class="countPill countPill--positive countPill--alt"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="right-part">
        {{> components/common/paginator pagination.product_results}}
    </div>
</div>
