<nav>
    <div class="sidebarBlock sidebar-categories">
        {{#each categories}}
            {{#if ../breadcrumbs.[1].name '===' name}}
                {{#if children}}
                    <h2 class="sidebarBlock-heading">{{name}}</h2>
                    <ul class="navList">
                        {{#each children}}
                            <li class="navList-item secondLevelCategory-item {{#if children}}has-children{{/if}}">
                                <a class="navList-action {{#if is_active}}active--page{{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </li>

                            {{#if children}}
                                <li class="navList-item thirdLevelCategories-item">
                                    <ul class="navList thirdLevelCategories"> 
                                        {{#each children}}
                                            <li class="navList-item thirdLevelCategory-item">
                                                <a class="navList-action {{#if is_active}}active--page{{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
