// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-backgroundColor:                stencilColor("color-white");
$facetLabel-borderRadius:                   0px;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
$facetLabel-removeIcon-color:               $small-font-color;
